Source: tklbam-squid
Section: web
Priority: optional
Maintainer: Luigi Gangitano <luigi@debian.org>
Homepage: http://www.squid-cache.org/
Standards-Version: 4.0.0
Build-Depends:
 autotools-dev,
 debhelper (>= 10),
 dpatch (>= 2.0.9),
 libdb-dev,
 libgssglue-dev,
 libkrb5-dev,
 libldap2-dev,
 libpam0g-dev,
 po-debconf,
 sharutils,

Package: tklbam-squid
Architecture: any
Section: web
Priority: optional
Pre-Depends:
 debconf (>= 1.2.9) | debconf-2.0,
Depends:
 adduser,
 lsb-base (>= 3.2-14),
 ${misc:Depends},
 netbase,
 tklbam-squid-common (>= ${source:Version}),
 turnkey-pylib,
 ${shlibs:Depends},
Description: TKLBAM embedded Internet object cache (WWW proxy cache)
 This package provides the Squid Internet Object Cache developed by
 the National Laboratory for Applied Networking Research (NLANR) and
 Internet volunteers.

Package: tklbam-squid-common
Architecture: any
Section: web
Priority: optional
Depends:
 ${misc:Depends},
Description: TKLBAM embedded Internet object cache (WWW proxy cache) - common files
 This package provides the Squid Internet Object Cache developed by
 the National Laboratory for Applied Networking Research (NLANR) and
 Internet volunteers.
 .
 This package contains common files (errors and icons)
