Source: squid
Section: web
Priority: optional
Maintainer: Luigi Gangitano <luigi@debian.org>
Homepage: http://www.squid-cache.org/
Standards-Version: 3.8.4
Build-Depends: libldap2-dev, libpam0g-dev, sharutils, dpatch (>= 2.0.9), po-debconf, libdb-dev, libgssglue-dev, libkrb5-dev, hardening-wrapper, autotools-dev

Package: squid
Architecture: any
Section: web
Priority: optional
Pre-Depends: debconf (>= 1.2.9) | debconf-2.0
Depends: ${shlibs:Depends}, netbase, adduser, logrotate (>= 3.5.4-1), squid-common (>= ${source:Version}), lsb-base (>= 3.2-14)
Conflicts: squid-novm, sarg (<< 1.1.1-2)
Replaces: squid-novm
Suggests: squidclient, squid-cgi, logcheck-database, resolvconf (>= 0.40), smbclient, winbind
Description: Internet object cache (WWW proxy cache)
 This package provides the Squid Internet Object Cache developed by
 the National Laboratory for Applied Networking Research (NLANR) and
 Internet volunteers.

Package: squid-common
Architecture: all
Section: web
Priority: optional
Replaces: squid (<< 2.6.1-1)
Depends: squid-langpack
Description: Internet object cache (WWW proxy cache) - common files
 This package provides the Squid Internet Object Cache developed by
 the National Laboratory for Applied Networking Research (NLANR) and
 Internet volunteers.
 .
 This package contains common files (errors and icons)
